// @import "../../../theme/sass/conf/conf";
md-card {
    & .entity-title {
        text-align: center;
    }
    & md-card-content {
        & md-input-container {
            width: 82%;
            margin: 0 auto;
        }
        & md-select {
            width: 82%;
            margin: 0 auto;
        }
    }
    & md-card-actions {
        text-align: right;
        & button {
            margin-right: 20px;
        }
    }
}
// .modal-content {
//   color: $dropdown-text;
// }
