<md-card>
  <md-card-title>
    <div class="entity-title">
      <h2>{{modalHeader}}</h2>
      <span flex></span>
      <button md-button class="md-icon-button" ng-click="cancel()" md-svg-src="assets/img/icons/ic_close_24px.svg" aria-label="Close dialog">
      </button>
    </div>
  </md-card-title>
  <md-card-content>
    <md-list>
      <md-list-item *ngFor="let field of entity.fields | inputTypeFilter: ['datepicker']">
        <md-input-container>
          <input mdInput [mdDatepicker]="picker" [(ngModel)]="entity.model[field.name]" type="text" [placeholder]="field.placeholder" [required]="field.required">
          <button mdSuffix [mdDatepickerToggle]="picker"></button>
        </md-input-container>
        <md-datepicker #picker md-date-formats="dd/MMM/yyyy"></md-datepicker>
      </md-list-item>
      <md-list-item *ngFor="let field of entity.fields | inputTypeFilter: ['list']">
        <md-select [(ngModel)]="entity.model[field.name]" [placeholder]="field.placeholder">
          <md-option [value]="opt.value" *ngFor="let opt of field.editor.config.list">
            {{ opt.title }}
          </md-option>
        </md-select>
      </md-list-item>
      <md-list-item *ngFor="let field of entity.fields | inputTypeFilter: ['string', 'password', 'number']">
        <md-input-container>
          <input mdInput [(ngModel)]="entity.model[field.name]" [type]="field.inputType" [id]="field.name" [placeholder]="field.placeholder" [ngModelOptions]="{standalone: true}" [required]="field.required" [attr.md-maxlength]="field.maxLength" minlength="4" />
        </md-input-container>
      </md-list-item>
    </md-list>
  </md-card-content>
  <md-card-actions>
    <button md-button color="accent" [hidden]="isCancellable" (click)="cancel()"> Cancel </button>
    <button md-raised-button color="primary" (click)="submit()">Submit</button>
  </md-card-actions>
</md-card>
