<div class="auth-main">
  <div class="auth-block">
    <h1>Sign up to ng2-admin</h1>
    <a routerLink="/oturum-ac" class="auth-link">Already have an ng2-admin account? Sign in!</a>

    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
      <div class="form-group row" [ngClass]="{'has-error': (!fname.valid && fname.touched), 'has-success': (fname.valid && fname.touched)}">
        <label for="inputFirstName3" class="col-sm-3 control-label">First Name</label>

        <div class="col-sm-9">
          <input [formControl]="fname" type="text" class="form-control" id="inputFirstName3" placeholder="First Name">
        </div>
      </div>
        <div class="form-group row" [ngClass]="{'has-error': (!lname.valid && lname.touched), 'has-success': (lname.valid && lname.touched)}">
          <label for="inputLastName3" class="col-sm-3 control-label">Last Name</label>

          <div class="col-sm-9">
            <input [formControl]="lname" type="text" class="form-control" id="inputLastName3" placeholder="Last Name">
          </div>
        </div>
      <div class="form-group row" [ngClass]="{'has-error': (!email.valid && email.touched), 'has-success': (email.valid && email.touched)}">
        <label for="inputEmail3" class="col-sm-3 control-label">Email</label>

        <div class="col-sm-9">
          <input [formControl]="email" type="email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>
      </div>
      <div class="form-group row" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
        <label for="inputPassword3" class="col-sm-3 control-label">Password</label>

        <div class="col-sm-9">
          <input [formControl]="password" type="password" class="form-control" id="inputPassword3" placeholder="Password">
        </div>
      </div>
      <div class="form-group row" [ngClass]="{'has-error': (!repeatPassword.valid && repeatPassword.touched), 'has-success': (repeatPassword.valid && repeatPassword.touched)}">
        <label for="inputPassword4" class="col-sm-3 control-label">Repeat</label>

        <div class="col-sm-9">
          <input [formControl]="repeatPassword" type="password" class="form-control" id="inputPassword4" placeholder="Repeat">
          <span *ngIf="!passwords.valid && (password.touched || repeatPassword.touched)" class="help-block sub-little-text">Passwords don't match.</span>
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-sm-3 col-sm-9">
          <button [disabled]="!form.valid" type="submit" class="btn btn-default btn-auth">Sign up</button>
        </div>
      </div>
    </form>

    <div class="auth-sep"><span><span>or Sign up with one click</span></span></div>

    <div class="al-share-auth">
      <ul class="al-share clearfix">
        <li><i class="socicon socicon-facebook" title="Share on Facebook"></i></li>
        <li><i class="socicon socicon-twitter" title="Share on Twitter"></i></li>
        <li><i class="socicon socicon-google" title="Share on Google Plus"></i></li>
      </ul>
    </div>
  </div>
</div>
