<md-card>
  <md-card-title>
    <button md-mini-fab (click)="onInsert()" color="primary">
      <md-icon class="md-24">add</md-icon>
    </button>
    <button md-mini-fab (click)="onRelaod()" color="primary">
        <md-icon class="md-24">pages</md-icon>
    </button>
  </md-card-title>
  <md-card-content>
    <table class="table table-striped" [mfData]="collection" #mf="mfDataTable" [mfRowsOnPage]="5">
      <thead>
        <tr>
          <th *ngFor="let field of fields">
            <mfDefaultSorter [by]="field.name">{{field.title}}</mfDefaultSorter>
          </th>
          <th>
            Commands
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of mf.data">
          <td *ngFor="let field of item.fields">{{item.model[field.name]}}</td>
          <td>
            <button md-icon-button (click)="onEdit(item.model)" color="primary">
              <md-icon class="md-24">mode_edit</md-icon>
            </button>
            <button md-icon-button (click)="onDelete(item.model)" color="accent">
                <md-icon class="md-24">delete</md-icon>
              </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td [colSpan]="collection.length > 0 ? collection[0].fields.length + 1 : 0">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot>
    </table>
  </md-card-content>
</md-card>
