<md-card>
  <md-card-title>
    <div class="default-title">
      <h5>{{modalHeader}}</h5>
      <span flex></span>
      <button md-button class="md-icon-button" ng-click="cancel()" md-svg-src="assets/img/icons/ic_close_24px.svg" aria-label="Close dialog">
      </button>
    </div>
  </md-card-title>
  <md-card-content>
    <h3>{{modalContent}}</h3>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button color="accent" (click)="cancel()">Cancel</button>
    <button md-raised-button color="primary" (click)="affirmative()">Affirmative</button>
  </md-card-actions>
</md-card>
